@model ds_mvc_asp.Models.Usuario

@{
    ViewBag.Title = "Resultado";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

<style>
    body {
        background-image: url(/Content/img/resultado.png);
        background-size: cover;
        
    }

    h2 {
        margin-left:    50px;
        font-family: 'Bangers';
        color: red;
    }

    dt, dd  {
        padding: 10px;
        color: #fff;
    }
    dl {
        display: flex;
        justify-content: start;
        flex-direction:column;
    }

    #corpo {
        margin-left: 80px;
    }

    p {
        margin-left: 30px;
    }
</style>


<div id="corpo">

    <h2>Resultado cadastro</h2>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confsenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confsenha)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Voltar", "Index")
    </p>

    <div id="bb">

    </div>

</div>
